<div class="container">
  <h1>Projects</h1>
  <p><%= link_to "Project 1", project1_path %></p>
  <p><%= link_to "Project 2", project2_path %></p>
  <p><%= link_to "Project 3", project3_path %></p>
  <p><%= link_to "Project 4", project4_path %></p>
  <p><%= link_to "Project 5", project5_path %></p>
  <p><%= link_to "Project 6", project6_path %></p>
  <p><%= link_to "Project 7", project7_path %></p>
</div>

